<% if params[:controller] == "my" && params[:action] == "page_layout" %>
    <script>
        function set_my_layout(type, status){
            $.ajax({
                type: 'POST',
                url: '/fgcs_settings/set_my_page_layout',
                data: 'type_layout=' + type + '&status=' + status ,
                success: function(data){
                    $("#block-form").submit();
                }
            });
        }
        $(document).ready(function(){
            $('.icon-add').prop("onclick", null);
            $('#block-select').append('<option value="gantt">Диаграмма Ганта</option>');
            $('#block-select').append('<option value="agile">Agile</option>');
            $('.icon-add').click(function() {
              set_my_layout($('#block-select').val(), 1);
            }
            );

            
        });
    </script>
<% end %>