<div id="block_calendar" class="mypage-box">
  <div style="float:right;margin-right:16px;z-index:500;">
    <a href="/my/remove_block?block=calendar" class="close-icon" data-method="post" rel="nofollow"></a>
  </div>
  <div class="handle">
    <h3>Календарь</h3>

  </div>
</div>