<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'tooltipster', :plugin => 'fgcs' %>
    <%= javascript_include_tag "jquery.validate.js", :plugin => 'fgcs' %>
    <%= javascript_include_tag "jquery.tooltipster.min.js", :plugin => 'fgcs' %>
<% end %>
<%= session[:dat] %>
<script>
    function method_data_validator(){
        $('#issue-form input[type="text"]').tooltipster({
            trigger: 'custom', // default is 'hover' which is no good here
            onlyOne: false,    // allow multiple tips to be open at a time
            position: 'right'  // display the tips to the right of the element
        });
        $.validator.addMethod("time", function(value, element) {
            return this.optional(element) || /^(([0-1]?[0-9])|([2][0-3])):([0-5]?[0-9])?$/i.test(value);
        }, "Пожалуйста, введите правильный формат времени ( чч:мм )");
        $('#issue-form').validate({
            rules: {
                "issue[due_date_time]": {time: true},
                "issue[start_date_time]": {time: true}
            },
            messages:{
                "issue[due_date_time]": {
                    time: "Пожалуйста, введите правильный формат времени ( чч:мм )"
                },
                "issue[start_date_time]": {
                    time: "Пожалуйста, введите правильный формат времени ( чч:мм )"
                }
            },
            errorPlacement: function (error, element) {
                $(element).tooltipster('update', $(error).text());
                $(element).tooltipster('show');
            },
            success: function (label, element) {
                $(element).tooltipster('hide');
            }
        });
    }
    $(document).ready(function(){
        $('#due_date_area').append('<br><label for="issue_due_date_time">' +
                'Время выполнения</label><input id="issue_due_date_time" name="issue[due_date_time]" size="10" ' +
                'type="text" value="<%= @issue.due_date_time %>">');
        $('#start_date_area').append('<br><label for="issue_start_date_time">' +
                'Время выполнения</label><input id="issue_start_date_time" name="issue[start_date_time]" size="10" ' +
                'type="text" value="<%= @issue.start_date_time %>">');
        method_data_validator();
    });
</script>