<% if params[:controller] == 'issues' && params[:action] != 'new' %>
    <%= stylesheet_link_tag 'tooltipster', :plugin => 'fgcs' %>
    <%= javascript_include_tag "jquery.validate.js", :plugin => 'fgcs' %>
    <%= javascript_include_tag "jquery.tooltipster.min.js", :plugin => 'fgcs' %>
    <script>
        function method_data_validator(){
            $('#issue-form input[type="text"]').tooltipster({
                trigger: 'custom', // default is 'hover' which is no good here
                onlyOne: false,    // allow multiple tips to be open at a time
                position: 'right'  // display the tips to the right of the element
            });
            $('#issue-form').validate({
                rules: {
                    "time_entry[hours]": {required: <%= User.current.roles_for_project(@issue.project).first.time_tracking  if @issue.present?%>}
                },
                messages:{
                    "time_entry[hours]": {
                        required: "Пожалуйста, заполните поле \"Затраченное время \""
                    }
                },
                errorPlacement: function (error, element) {
                    $(element).tooltipster('update', $(error).text());
                    $(element).tooltipster('show');
                },
                success: function (label, element) {
                    $(element).tooltipster('hide');
                },
                submitHandler: function(form) {
                    if ($(form).valid())
                        form.submit();
                    return false; // prevent normal form posting
                }
            });
        }
        $(document).ready(function(){
            method_data_validator();
        });
    </script>
<% end %>
