.calendar-new-block{
    border-top: none;
    border-bottom: none;
    margin: 0px 5px 15px 5px;
    word-wrap: break-word;
}
.warning_calendar{
    display: block;
    position: absolute;
    z-index: 5;
    width: 13px;
    height: 14px;
    top: 50px;
    right: 10px;
    background: url(/plugin_assets/fgcs/images/w1.png) no-repeat;
}
.skull{
    display: block;
    width: 10px;
    height: 14px;
    float: right;
    position: relative;
    top: -60px;
    margin-right: 10px;
    background: url(/plugin_assets/fgcs/images/d1.png);
}

.overdue{
    z-index: 0;
}
.calendar-new-block p{
    line-height: 2;
}
.left_dead{
    border-left: 5px solid red;
    margin-left: 0px;
}

.left_success{
    border-left: 5px solid green;
    margin-left: 0px;
}

.right_dead{
    border-right: 5px solid red;
    margin-right: 0px;
}

.right_success{
    border-right: 5px solid green;
    margin-right: 0px;
}

.right_warning{
    border-right: 5px solid yellow;
    margin-right: 0px;
}

/***** Calendar *****/
table.cal {border-collapse: collapse; width: auto; margin: 0px 0 6px 0;border: 1px solid #d7d7d7;}
table.cal thead th {width: auto; background-color:#EEEEEE; padding: 4px; }