<table>
  <tbody>
  <tr>
    <th>Применять действие плагина</th>
    <td><input type="checkbox" id="settings_calendar_plugin_default"
               name="settings[settings_calendar_plugin_default]" <%= "checked" if settings['settings_calendar_plugin_default'] == "on" %>></td>
  </tr>
  </tr>
  </tbody>
</table>