<%= javascript_include_tag "raphael.js", :plugin => 'fgcs' %>
<%= javascript_include_tag "gantt.js", :plugin => 'fgcs' %>
<script>
  function get_result(){
      $.ajax({
          type: 'POST',
          url: '/get_gantt',
          data: $('#query_form_gantt').serialize(),
          success: function(data){
              $('#ajax-indicator').hide();
              $('#gantt_block').html(data);
          }
      });
  }

</script>
<div id="gantt_block">
  <script>
    get_result();
    </script>
</div>