<h3>Задачи в статусе “Внести правки” (<%= Issue.visible.open.count(:conditions => {:status_id => IssueStatus.where(:name => "Внести правки").first.id ,:assigned_to_id => ([User.current.id] + User.current.group_ids)})%>)</h3>

<% assigned_issues = issuesassignedtome_items.select{ |x| x.status_id == IssueStatus.where(:name => "Внести правки").first.id} %>
<%= render :partial => 'issues/list_simple', :locals => { :issues => assigned_issues } %>
<% if assigned_issues.length > 0 %>
    <p class="small"><%= link_to l(:label_issue_view_all), :controller => 'issues',
                                 :action => 'index',
                                 :set_filter => 1,
                                 :assigned_to_id => 'me',
                                 :sort => 'priority:desc,updated_on:desc' %></p>
<% end %>

<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom,
                                {:controller => 'issues', :action => 'index', :set_filter => 1,
                                 :assigned_to_id => 'me', :format => 'atom', :key => User.current.rss_key},
                                {:title => l(:label_assigned_to_me_issues)}) %>
<% end %>
