<%= javascript_include_tag 'redmine_agile.js', :plugin => 'fgcs' %>
<%= javascript_include_tag "jquery.ui.touch-punch.js", :plugin => 'fgcs' %>
<script>
    function get_agile(){
        $.ajax({
            type: 'POST',
            url: '/get_agile',
            data: $('#query_form').serialize(),
            success: function(data){
                $('#ajax-indicator').hide();
                $('#agile_block').html(data);
                $('#query_form').remove();
            }
        });
    }

</script>
<div id="agile_block">
  <script>
      get_agile();
  </script>
</div>