<style>
    <% user_agent = request.env['HTTP_USER_AGENT'].downcase %>
    <% if user_agent =~ /opera/i %>
    .calendar-new-block p {
        font-size:10px;
        line-height: 1.5;
    }
    .skull {
        top: -58px;
    }
    <% end %>

</style>
<% if Setting.where(:name => "plugin_fgcs").first.present? && Setting.where(:name => "plugin_fgcs").first.value['settings_calendar_plugin_default'] == "on" %>
    <%= stylesheet_link_tag 'calendar.css', :plugin => 'fgcs' %>
    <div style="width:100%; overflow-x:auto;">
      <table class="cal">
        <thead>
        <tr><th scope="col" title="<%= l(:label_week) %>" class="week-number"></th><% 5.times do |i| %><th scope="col"><%= day_name( (calendar.first_wday+i)%7 ) %></th><% end %></tr>
        </thead>
        <tbody>
        <tr>
          <% day = calendar.startdt
             while day <= calendar.enddt %>
              <%= ("<td class='week-number' title='#{ l(:label_week) }'>#{(day+(11-day.cwday)%7).cweek}</td>".html_safe) if day.cwday == calendar.first_wday %>
              <td  style="min-width: 153px;" class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if Date.today == day %>">
                <p class="day-num"><%= day.day %></p>
                <% project_id = nil %>
                <% project_id = @project.id if @project.present? %>
                <% calendar.events_on(day).each do |i| %>
                    <% if i.is_a? Issue %>
                        <% num = 0
                           num = get_calendar_overdue(i, day).to_i if get_calendar_overdue(i, day).present?%>
                        <div class=" calendar-new-block <%= get_calendar_styles(i, day) %>" style=" width: 160px;">
                          <div style="<%= "background: #FFCBA4;" if num > 0 %> position: relative;" class="<%= i.css_classes %> <%= 'starting' if day == i.start_date %> <%= 'ending' if day == i.due_date %>">
                            <p><b><%= i.subject.truncate(30 - (i.id.to_s.length + 2)) %></b> <%= link_to "№#{i.id}", issue_path(i), {:style => 'background: none; padding-left: 0;'} %></p>
                            <p>Проект: <%= link_to i.project.name, project_path(i.project), {:style => 'background: none; padding-left: 0;'} %></p>
                            <p>Статус: <%= i.status.name %></p>
                            <p>Назначен: <%= i.assigned_to.name if i.assigned_to.present?%></p>
                            <p><%= "#{i.start_date.strftime("%d.%m.%Y") if i.start_date.present?} - #{i.due_date.strftime("%d.%m.%Y") if i.due_date.present?}" %></p>
                            <% if num > 0 %>
                                <div class="overdue">
                                  <% if num >= 3 %>
                                      <% 3.times do%>
                                          <div class="skull"></div>
                                      <% end %>
                                  <% else %>
                                      <% num.times do%>
                                          <div class="skull"></div>
                                      <% end %>
                                  <% end %>
                                </div>
                            <% else %>
                                <div class="<%= is_calendar_warning_styles?(i) %>"></div>
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                <% end %>

              </td>
              <%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday - 2 and day!=calendar.enddt %>
              <% if day.cwday==calendar.last_wday - 2 and day!=calendar.enddt %>
                  <% day = day + 3 %>
              <% else %>
              <% day = day + 1
                 end %>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
<% else %>
    <table class="cal">
      <thead>
      <tr><th scope="col" title="<%= l(:label_week) %>" class="week-number"></th><% 7.times do |i| %><th scope="col"><%= day_name( (calendar.first_wday+i)%7 ) %></th><% end %></tr>
      </thead>
      <tbody>
      <tr>
        <% day = calendar.startdt
           while day <= calendar.enddt %>
            <%= ("<td class='week-number' title='#{ l(:label_week) }'>#{(day+(11-day.cwday)%7).cweek}</td>".html_safe) if day.cwday == calendar.first_wday %>
            <td class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if Date.today == day %>">
              <p class="day-num"><%= day.day %></p>
              <% calendar.events_on(day).each do |i| %>
                  <% if i.is_a? Issue %>
                      <div class="<%= i.css_classes %> <%= 'starting' if day == i.start_date %> <%= 'ending' if day == i.due_date %> tooltip">
                        <%= h("#{i.project} -") unless @project && @project == i.project %>
                        <%= link_to_issue i, :truncate => 30 %>
                        <span class="tip"><%= render_issue_tooltip i %></span>
                      </div>
                  <% else %>
  <span class="icon icon-package">
    <%= h("#{i.project} -") unless @project && @project == i.project %>
    <%= link_to_version i%>
  </span>
                  <% end %>
              <% end %>
            </td>
            <%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
        <% day = day + 1
           end %>
      </tr>
      </tbody>
    </table>

<% end %>